header {
    height: 1080px;
    background: url(../assets/heroBackgroundNoTextFullBleed.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;

    p {
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
    }
}