.aboutSection {
    height: 100vh;
    background: url(../assets/aboutBackgroundNoTextFullBleed.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .gridContainerAbout {
        // display: grid;
        // grid-template-columns: repeat(5, 1fr);
        // grid-template-rows: repeat(2, 1fr);
        // grid-column-gap: 0px;
        // grid-row-gap: 0px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        // width: 80%;
        // text-align: center;
    }

    .headshotContainer {
        width: 250px;
        height: 250px;
        // grid-area: 1 / 1 / 2 / 3;
        grid-area: 1 / 1 / 2 / 2;
        
        img {
            max-width: 100%;
            border-radius: 50%;
        }
    }
    
    .bioContainer {
        // grid-area: 1 / 3 / 3 / 6;
        grid-area: 1 / 2 / 3 / 5;
        font-family: 'Oswald', sans-serif;
    }
}

.skillsSection {
    height: 100vh;
    background: url(../assets/skillsBackgroundNoTextFullBleed.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .skillsList {
        // display: flex;
        // flex-flow: row wrap

        
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    li {
        // width: calc(100% / 3);
        // height: calc(100% / 3);
        list-style-type: none;

        p {
            display: none;
        }

        i:hover p {
            display: inline-block;
        }
    }
}

.projectsSection {
    height: 100vh;
    background: url(../assets/projectsBackgroundNoTextFullBleed.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contactSection {
    height: 100vh;
    background: url(../assets/contactBackgroundNoTextFullBleed.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

// main {
//     text-align: center;
// }

// .loader {
//     color: #f7be16;
//     margin-top: 30vh;
// }

// .loader p {
//     display: inline;
//     margin: 5vh 0;
//     font-size: 2rem;
//     padding-left: 50px;
// }

// @keyframes blink {50% { color: transparent }}
// .loaderDot { animation: 1s blink infinite }
// .loaderDot:nth-child(3) { animation-delay: 250ms }
// .loaderDot:nth-child(4) { animation-delay: 500ms }

// .socialLinks {
//     list-style-type: none;
//     width: 20%;
//     display: flex;
//     justify-content: space-between;
//     margin: 0 auto;
//     margin-top: 15vh;
// }

// .socialLinks a {
//     color: #293462;
//     font-size: 1.5rem;
// }